.userName {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #07319d;
  border-bottom: solid 1px gray;
  padding-right: 24px;
}

.userComment {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: solid 1px gray;
}
